<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <style type="text/css">
          .box-1{float:left}
          #frame{width:300px ;background:#AAAAAA}

         .chart-container {
          position: relative;
          margin: auto;
          height: 80vh;
          width: 80vw;
          }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"> </script>
        <script src="//cdn.jsdelivr.net/raphael/2.1.2/raphael-min.js"></script>
        <script src="//cdn.jsdelivr.net/justgage/1.0.1/justgage.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <title>test arduino</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
       
       
       
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

        <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">     

    </head>
      
 <body>

<div class="container">
  <div class="alert alert-warning alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <strong>คำเตือน!</strong> กรุณาใช้หน้าจอในเเนวนอนหากท่านใช้งานบน สมาร์ทโฟนหรือเเทปเล็ต
  </div>
</div>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<img src="Entypo+\Entypo+ Social Extension\baidu.svg" width="50" height="50">-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">เรียลไทม์</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/light">ความเข้มเเสง</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/temp">อุณหภูมิ</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/humid">ความชื้น</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/soil">ความชื้นในดิน</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rain">ปริมาณฝนต่อวัน</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/dust">ความหนาเเน่นของฝุ่น</a>
      </li>
    </ul>

     <div class="row">
      <form class="form-inline my-2 my-lg-0" action="/sendsoil" method="post">
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="Day" name="Day">
        <option selected>วันที่</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option> 
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>         
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="Month" name="Month">
        <option selected>เดือน</option>
        <option value="01">มกราคม</option>
        <option value="02">กุมภาพันธ์</option>
        <option value="03">มีนาคม</option>
        <option value="04">เมษายน</option>
        <option value="05">พฤษภาคม</option> 
        <option value="06">มิถุนายน</option>
        <option value="07">กรกฏาคม</option>
        <option value="08">สิงหาคม</option>
        <option value="09">กันยายน</option>         
        <option value="10">ตุลาคม</option>
        <option value="11">พฤศจิกายน</option>
        <option value="12">ธันวาคม</option>
      </select>
      <input class="form-control mr-sm-2" type="text" placeholder="ปี" aria-label="Year" id="Year" name="Year" size="4" maxlength="4" required="required">
      <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-secondary" type="submit">ส่ง</button>     
    </form> 
    &nbsp; 
    &nbsp; 
 <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">อ่าน</button> 
 </div>
    </div>
</div>
</nav>


            
<div class="chart-container" style="position: relative; height:40vh; width:80vw" >
    <br>
    <ul class="nav justify-content-center">
  <li class="nav-item">
   <h3>ปริมาณความชื้นในดินเมื่อวานนี้</h3>
  </li>
</ul>
          <ul class="nav">
  <li class="nav-item">
       Analog-Output
  </li>
</ul>
    <canvas id="myChart4"></canvas>
        <ul class="nav justify-content-end">
  <li class="nav-item">
       /ชั่วโมง **เช่น 00 = 00.00 หรือ 02 = 02.00 เป็นต้น
  </li>
</ul><br>

<ul class="nav justify-content-center">
  <li class="nav-item">
   <h3>ปริมาณความชื้นในดินในเเต่ละเดือนในปีนี้</h3>
  </li>
</ul>
        <ul class="nav">
  <li class="nav-item">
       Analog-Output
  </li>
</ul>
 <canvas id="myChart4_1"></canvas>
         <ul class="nav justify-content-end">
  <li class="nav-item">
       /เดือน **เช่น 01 = มกราคม หรือ 02 = กุมภาพันธ์ เป็นต้น
  </li>
</ul>
 <br>
 <ul class="nav justify-content-center">
  <li class="nav-item">
   <h3>ปรืมาณความชื้นในดินในเเต่ละปี</h3>
  </li>
</ul>

       <ul class="nav">
  <li class="nav-item">
       Analog-Output
  </li>
</ul>

<canvas id="myChartyear4_1"></canvas>
        <ul class="nav justify-content-end">
  <li class="nav-item">
       /ปี **เช่น 2017 = ค.ศ.2017 หรือ 2014 = ค.ศ.2014 เป็นต้น
  </li>
</ul>
      
</div>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ปริมาณความชื้นในดินย้อนหลัง</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div>
        {{# each items }}
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark"><h5>วันที่ : </5> {{ this.day }} เดือน : {{ this.month }} ปี : {{ this.year }}</li>
                <li class="list-group-item list-group-item-secondary"><h5>เวลา : </5>{{ this.hour }} : {{ this.minute }} นาที</li>
                <li class="list-group-item"> <h5>ปริมาณความชื้นในดิน : </5> {{ this.soilvalue }} Analog-value</li>
                
            </ul>
            <hr>
        {{/each}}
    </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">ปิด</button>
        <button type="button" class="btn btn-dark" onclick="printJS('exampleModal', 'html')">พิมพ์</button>
      </div>
    </div>
  </div>
</div>


        


       <script>
var ctx4 = document.getElementById("myChart4");
var myChart4 = new Chart(ctx4, {
    type: 'line',
    data: {
        labels: ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"],
        datasets: [{
            label: 'ปริมาณความชื้นในดินเมื่อวานนี้',
            data: [],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var ctx4_1 = document.getElementById("myChart4_1");
var myChart4_1 = new Chart(ctx4_1, {
    type: 'bar',
    data: {
        labels: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
        datasets: [{
            label: 'ปริมาณความชื้นในสูงสุดหรือดินมีความชื้นต่ำ',
            data: [],            
            backgroundColor: [
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)'
            ],
            borderColor: [
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)'
            ],
            borderWidth: 1
        },
        {
            label: 'ปริมาณความชื้นในต่ำสุดหรือดินมีความชื้นสูง',
            data: [],           
            backgroundColor: [
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
            ],
            borderColor: [
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)',
                'rgba(255,255,0,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
                var date = new Date();
                var yearnow = date.getFullYear();
                
                var lastyear = date.getFullYear()-1;
                
                var year2 = date.getFullYear()-2;
                
                var year3 = date.getFullYear()-3;
                
var ctxyear4_1 = document.getElementById("myChartyear4_1");
var myChartyear4_1 = new Chart(ctxyear4_1, {
    type: 'bar',
    data: {
        labels: [yearnow,lastyear,year2,year3],
        datasets: [{
            label: 'ปริมาณความชื้นในสูงสุดหรือดินมีความชื้นต่ำ',
            data: [],            
            backgroundColor: [
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)',
                'rgba(0,255,0,0.3)'

            ],
            borderColor: [
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)',
                'rgba(0,255,0,1)'

            ],
            borderWidth: 1
        },
        {
            label: 'ปริมาณความชื้นในต่ำสุดหรือดินมีความชื้นสูง',
            data: [],           
            backgroundColor: [
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)',
                'rgba(255,255,0,0.3)'
            ],
            borderColor: [
                'rgba(255,255,0,1)',
                 'rgba(255,255,0,1)',
                  'rgba(255,255,0,1)',
                   'rgba(255,255,0,1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

        <script>
          var socket = io();
          socket.on('soil0',function(dato10){
          myChart4.data.datasets[0].data[0] = dato10.valor;
          myChart4.update();
          //console.log(dato10.valor);
      });
      socket.on('soil0n',function(dato10n){
              if(dato10n == 0){
          myChart.data.datasets[0].data[0] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil1',function(dato11){
          myChart4.data.datasets[0].data[1] = dato11.valor;
          myChart4.update();
          //console.log(dato11.valor);
      });
      socket.on('soil1n',function(dato11n){
              if(dato11n == 0){
          myChart.data.datasets[0].data[1] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil2',function(dato12){
          myChart4.data.datasets[0].data[2] = dato12.valor;
          myChart4.update();
          //console.log(dato12.valor);
      });
      socket.on('soil2n',function(dato12n){
              if(dato12n == 0){
          myChart.data.datasets[0].data[2] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil3',function(dato13){
          myChart4.data.datasets[0].data[3] = dato13.valor;
          myChart4.update();
          //console.log(dato13.valor);
      });
      socket.on('soil3n',function(dato13n){
              if(dato13n == 0){
          myChart.data.datasets[0].data[3] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil4',function(dato14){
          myChart4.data.datasets[0].data[4] = dato14.valor;
          myChart4.update();
          //console.log(dato14.valor);
      });
      socket.on('soil4n',function(dato14n){
              if(dato14n == 0){
          myChart.data.datasets[0].data[4] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil5',function(dato15){
          myChart4.data.datasets[0].data[5] = dato15.valor;
          myChart4.update();
          //console.log(dato15.valor);
      });
      socket.on('soil5n',function(dato15n){
              if(dato15n == 0){
          myChart.data.datasets[0].data[5] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil6',function(dato16){
          myChart4.data.datasets[0].data[6] = dato16.valor;
          myChart4.update();
          //console.log(dato16.valor);
      });
      socket.on('soil6n',function(dato16n){
              if(dato16n == 0){
          myChart.data.datasets[0].data[6] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil7',function(dato17){
          myChart4.data.datasets[0].data[7] = dato17.valor;
          myChart4.update();
          //console.log(dato17.valor);
      });
      socket.on('soil7n',function(dato17n){
              if(dato17n == 0){
          myChart.data.datasets[0].data[7] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil8',function(dato18){
          myChart4.data.datasets[0].data[8] = dato18.valor;
          myChart4.update();
          //console.log(dato18.valor);
      });
      socket.on('soil8n',function(dato18n){
              if(dato18n == 0){
          myChart.data.datasets[0].data[8] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil9',function(dato19){
          myChart4.data.datasets[0].data[9] = dato19.valor;
          myChart4.update();
          //console.log(dato19.valor);
      });
      socket.on('soil9n',function(dato19n){
              if(dato19n == 0){
          myChart.data.datasets[0].data[9] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil10',function(dato110){
          myChart4.data.datasets[0].data[10] = dato110.valor;
          myChart4.update();
          //console.log(dato110.valor);
      });
      socket.on('soil10n',function(dato110n){
              if(dato110n == 0){
          myChart.data.datasets[0].data[10] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil11',function(dato111){
          myChart4.data.datasets[0].data[11] = dato111.valor;
          myChart4.update();
          //console.log(dato111.valor);
      });
      socket.on('soil11n',function(dato111n){
              if(dato111n == 0){
          myChart.data.datasets[0].data[11] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil12',function(dato112){
          myChart4.data.datasets[0].data[12] = dato112.valor;
          myChart4.update();
          //console.log(dato112.valor);
      });
      socket.on('soil12n',function(dato112n){
              if(dato112n == 0){
          myChart.data.datasets[0].data[12] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil13',function(dato113){
          myChart4.data.datasets[0].data[13] = dato113.valor;
          myChart4.update();
          //console.log(dato113.valor);
      });
      socket.on('soil13n',function(dato113n){
              if(dato113n == 0){
          myChart.data.datasets[0].data[13] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil14',function(dato114){
          myChart4.data.datasets[0].data[14] = dato114.valor;
          myChart4.update();
          //console.log(dato114.valor);
      });
      socket.on('soil14n',function(dato114n){
              if(dato114n == 0){
          myChart.data.datasets[0].data[14] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil15',function(dato115){
          myChart4.data.datasets[0].data[15] = dato115.valor;
          myChart4.update();
          //console.log(dato115.valor);
      });
      socket.on('soil15n',function(dato115n){
              if(dato115n == 0){
          myChart.data.datasets[0].data[15] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil16',function(dato116){
          myChart4.data.datasets[0].data[16] = dato116.valor;
          myChart4.update();
          //console.log(dato116.valor);
      });
      socket.on('soil16n',function(dato116n){
              if(dato116n == 0){
          myChart.data.datasets[0].data[16] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil17',function(dato117){
          myChart4.data.datasets[0].data[17] = dato117.valor;
          myChart4.update();
          //console.log(dato117.valor);
      });
      socket.on('soil17n',function(dato117n){
              if(dato117n == 0){
          myChart.data.datasets[0].data[17] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil18',function(dato118){
          myChart4.data.datasets[0].data[18] = dato118.valor;
          myChart4.update();
          //console.log(dato118.valor);
      });
      socket.on('soil18n',function(dato118n){
              if(dato118n == 0){
          myChart.data.datasets[0].data[18] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil19',function(dato119){
          myChart4.data.datasets[0].data[19] = dato119.valor;
          myChart4.update();
          //console.log(dato119.valor);
      });
      socket.on('soil19n',function(dato119n){
              if(dato119n == 0){
          myChart.data.datasets[0].data[19] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil20',function(dato120){
          myChart4.data.datasets[0].data[20] = dato120.valor;
          myChart4.update();
          //console.log(dato120.valor);
      });
      socket.on('soil20n',function(dato120n){
              if(dato120n == 0){
          myChart.data.datasets[0].data[20] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil21',function(dato121){
          myChart4.data.datasets[0].data[21] = dato121.valor;
          myChart4.update();
          //console.log(dato121.valor);
      });
      socket.on('soil21n',function(dato121n){
              if(dato121n == 0){
          myChart.data.datasets[0].data[21] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil22',function(dato122){
          myChart4.data.datasets[0].data[22] = dato122.valor;
          myChart4.update();
          //console.log(dato122.valor);
      });
      socket.on('soil22n',function(dato122n){
              if(dato122n == 0){
          myChart.data.datasets[0].data[22] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });
          socket.on('soil23',function(dato123){
          myChart4.data.datasets[0].data[23] = dato123.valor;
          myChart4.update();
          //console.log(dato123.valor);
      });
      socket.on('soil23n',function(dato123n){
              if(dato123n == 0){
          myChart.data.datasets[0].data[23] = 0;
          myChart.update();
              }
          //console.log(dato10.valor);
      });

      //1
          socket.on('soil1_2',function(dato1m_2){
           if(dato1m_2.valor == 1){
          myChart4_1.data.datasets[0].data[0] = 0;
          myChart4_1.data.datasets[1].data[0] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil1_2_1',function(dato1m_2_1){
          myChart4_1.data.datasets[0].data[0] = dato1m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil1_2_2',function(dato1m_2_2){
          myChart4_1.data.datasets[1].data[0] = dato1m_2_2.valor;
          myChart4_1.update();
          });
//2

          socket.on('soil2_2',function(dato2m_2){
           if(dato2m_2.valor == 1){
          myChart4_1.data.datasets[0].data[1] = 0;
          myChart4_1.data.datasets[1].data[1] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil2_2_1',function(dato2m_2_1){
          myChart4_1.data.datasets[0].data[1] = dato2m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil2_2_2',function(dato2m_2_2){
          myChart4_1.data.datasets[1].data[1] = dato2m_2_2.valor;
          myChart4_1.update();
          });

//3
          socket.on('soil3_2',function(dato3m_2){
           if(dato3m_2.valor == 1){
          myChart4_1.data.datasets[0].data[2] = 0;
          myChart4_1.data.datasets[1].data[2] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil3_2_1',function(dato3m_2_1){
          myChart4_1.data.datasets[0].data[2] = dato3m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil3_2_2',function(dato3m_2_2){
          myChart4_1.data.datasets[1].data[2] = dato3m_2_2.valor;
          myChart4_1.update();
          });

//4
          socket.on('soil4_2',function(dato4m_2){
           if(dato4m_2.valor == 1){
          myChart4_1.data.datasets[0].data[3] = 0;
          myChart4_1.data.datasets[1].data[3] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil4_2_1',function(dato4m_2_1){
          myChart4_1.data.datasets[0].data[3] = dato4m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil4_2_2',function(dato4m_2_2){
          myChart4_1.data.datasets[1].data[3] = dato4m_2_2.valor;
          myChart4_1.update();
          });

//5
                    socket.on('soil5_2',function(dato5m_2){
           if(dato5m_2.valor == 1){
          myChart4_1.data.datasets[0].data[4] = 0;
          myChart4_1.data.datasets[1].data[4] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil5_2_1',function(dato5m_2_1){
          myChart4_1.data.datasets[0].data[4] = dato5m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil5_2_2',function(dato5m_2_2){
          myChart4_1.data.datasets[1].data[4] = dato5m_2_2.valor;
          myChart4_1.update();
          });

//6
                    socket.on('soil6_2',function(dato6m_2){
           if(dato6m_2.valor == 1){
          myChart4_1.data.datasets[0].data[5] = 0;
          myChart4_1.data.datasets[1].data[5] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil6_2_1',function(dato6m_2_1){
          myChart4_1.data.datasets[0].data[5] = dato6m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil6_2_2',function(dato6m_2_2){
          myChart4_1.data.datasets[1].data[5] = dato6m_2_2.valor;
          myChart4_1.update();
          });

//7
                    socket.on('soil7_2',function(dato7m_2){
           if(dato7m_2.valor == 1){
          myChart4_1.data.datasets[0].data[6] = 0;
          myChart4_1.data.datasets[1].data[6] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil7_2_1',function(dato7m_2_1){
          myChart4_1.data.datasets[0].data[6] = dato7m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil7_2_2',function(dato7m_2_2){
          myChart4_1.data.datasets[1].data[6] = dato7m_2_2.valor;
          myChart4_1.update();
          });

//8
                    socket.on('soil8_2',function(dato8m_2){
           if(dato8m_2.valor == 1){
          myChart4_1.data.datasets[0].data[7] = 0;
          myChart4_1.data.datasets[1].data[7] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil8_2_1',function(dato8m_2_1){
          myChart4_1.data.datasets[0].data[7] = dato8m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil8_2_2',function(dato8m_2_2){
          myChart4_1.data.datasets[1].data[7] = dato8m_2_2.valor;
          myChart4_1.update();
          });

//9
                    socket.on('soil9_2',function(dato9m_2){
           if(dato9m_2.valor == 1){
          myChart4_1.data.datasets[0].data[8] = 0;
          myChart4_1.data.datasets[1].data[8] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil9_2_1',function(dato9m_2_1){
          myChart4_1.data.datasets[0].data[8] = dato9m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil9_2_2',function(dato9m_2_2){
          myChart4_1.data.datasets[1].data[8] = dato9m_2_2.valor;
          myChart4_1.update();
          });

//10
                    socket.on('soil10_2',function(dato10m_2){
           if(dato10m_2.valor == 1){
          myChart4_1.data.datasets[0].data[9] = 0;
          myChart4_1.data.datasets[1].data[9] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil10_2_1',function(dato10m_2_1){
          myChart4_1.data.datasets[0].data[9] = dato10m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil10_2_2',function(dato10m_2_2){
          myChart4_1.data.datasets[1].data[9] = dato10m_2_2.valor;
          myChart4_1.update();
          });

//11
                    socket.on('soil11_2',function(dato11m_2){
           if(dato11m_2.valor == 1){
          myChart4_1.data.datasets[0].data[10] = 0;
          myChart4_1.data.datasets[1].data[10] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil11_2_1',function(dato1m_2_1){
          myChart4_1.data.datasets[0].data[10] = dato1m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil11_2_2',function(dato1m_2_2){
          myChart4_1.data.datasets[1].data[10] = dato1m_2_2.valor;
          myChart4_1.update();
          });

//12
                    socket.on('soil12_2',function(dato12m_2){
           if(dato12m_2.valor == 1){
          myChart4_1.data.datasets[0].data[11] = 0;
          myChart4_1.data.datasets[1].data[11] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil12_2_1',function(dato12m_2_1){
          myChart4_1.data.datasets[0].data[11] = dato12m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil12_2_2',function(dato12m_2_2){
          myChart4_1.data.datasets[1].data[11] = dato12m_2_2.valor;
          myChart4_1.update();
          });

 //1year
          socket.on('soilyear1_2',function(datoyear1m_2){
           if(datoyear1m_2.valor == 1){
          myChartyear4_1.data.datasets[0].data[0] = 0;
          myChartyear4_1.data.datasets[1].data[0] = 0;
          myChartyear4_1.update();
                     }
          });
          socket.on('soilyear1_2_1',function(datoyear1m_2_1){
          myChartyear4_1.data.datasets[0].data[0] = datoyear1m_2_1.valor;
          myChartyear4_1.update();
          });
          socket.on('soilyear1_2_2',function(datoyear1m_2_2){
          myChartyear4_1.data.datasets[1].data[0] = datoyear1m_2_2.valor;
          myChartyear4_1.update();
          });
//2year

          socket.on('soilyear2_2',function(datoyear2m_2){
           if(datoyear2m_2.valor == 1){
          myChartyear4_1.data.datasets[0].data[1] = 0;
          myChartyear4_1.data.datasets[1].data[1] = 0;
          myChartyear4_1.update();
                     }
          });
          socket.on('soilyear2_2_1',function(datoyear2m_2_1){
          myChartyear4_1.data.datasets[0].data[1] = datoyear2m_2_1.valor;
          myChartyear4_1.update();
          });
          socket.on('soilyear2_2_2',function(datoyear2m_2_2){
          myChartyear4_1.data.datasets[1].data[1] = datoyear2m_2_2.valor;
          myChartyear4_1.update();
          });

//3year
          socket.on('soilyear3_2',function(datoyear3m_2){
           if(datoyear3m_2.valor == 1){
          myChartyear4_1.data.datasets[0].data[2] = 0;
          myChartyear4_1.data.datasets[1].data[2] = 0;
          myChartyear4_1.update();
                     }
          });
          socket.on('soilyear3_2_1',function(datoyear3m_2_1){
          myChartyear4_1.data.datasets[0].data[2] = datoyear3m_2_1.valor;
          myChartyear4_1.update();
          });
          socket.on('soilyear3_2_2',function(datoyear3m_2_2){
          myChartyear4_1.data.datasets[1].data[2] = datoyear3m_2_2.valor;
          myChartyear4_1.update();
          });

//4year
          socket.on('soil4_2',function(dato4m_2){
           if(dato4m_2.valor == 1){
          myChart4_1.data.datasets[0].data[3] = 0;
          myChart4_1.data.datasets[1].data[3] = 0;
          myChart4_1.update();
                     }
          });
          socket.on('soil4_2_1',function(dato4m_2_1){
          myChart4_1.data.datasets[0].data[3] = dato4m_2_1.valor;
          myChart4_1.update();
          });
          socket.on('soil4_2_2',function(dato4m_2_2){
          myChart4_1.data.datasets[1].data[3] = dato4m_2_2.valor;
          myChart4_1.update();
          });

        </script>

  </body>
</html>
